@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cascadia";
  src: url("fonts/CascadiaMono-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "cascadia";
  src: url("/fonts/CascadiaMono-Light.woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "cascadia";
  src: url("/fonts/CascadiaMono-SemiBold.woff2");
  font-weight: bolder;
}

@font-face {
  font-family: "cascadia";
  src: url("/fonts/CascadiaMono-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "cascadia";
  src: url("/fonts/CascadiaMono-Italic.woff2");
  font-style: italic;
}

@layer base {
  html {
    @apply font-cascadia;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-base-300;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-base-200;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-base-100;
  }
}

@layer components {
  .border-y,
  .border-x,
  .border-l,
  .border-t,
  .border-r,
  .border-b,
  .border {
    @apply border-base-100;
  }

  .input {
    @apply rounded;
  }

  .btn {
    @apply rounded font-mono;
  }

  .text-highlight {
    @apply font-bold text-primary font-mono;
  }
}
